<html ng-app="myApp">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body ng-controller="myCtrl">
        <div class="container">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Data Input
                    </div>
                    <div class="panel-body">
                        
                        Lowercase Filter
                        <div ng-repeat="x in names">
                            {{x | lowercase}}
                        </div>
                        <hr>
                        Uppercase Filter
                        <div ng-repeat="x in names">
                            {{x | uppercase}}
                        </div>
                        <hr>
                        Custom Filter: Capitalize first Letter
                        <div ng-repeat="x in names">
                            {{x | capitalize}}
                        </div>
                        <hr>
                        Input Keyword Filter <input ng-model="test">
                        <div ng-repeat="x in names| filter : test">
                            {{x}}
                        </div>
                        <hr>
                        OrderBy Filter
                        <div ng-repeat="x in names | OrderBy : a">
                            {{x}}
                        </div>
                        <hr>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js"></script>  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <script src="script.js"></script>
</html>