 <div ng-controller="jsonCtrl">
    <div class="container">
        <div class="col-md-6">
        <div class="panel panel-primary">
        <div class="panel-heading">
             JSON Data
        </div>
            <div class="panel-body">

               <div ng-repeat="x in content">
        <table class="table table-striped table-hover">
                <tr>
                <td>First Name</td>
                <td>{{x.firstName}}</td>
                </tr>
                <tr>
                <td> Last Name </td>
                <td> {{x.lastName}}</td>
                </tr>
                </table>
                </div>  
                                
            </div>
            
            
        </div>
            </div>
         <div class="col-md-6">
        <div class="panel panel-primary">
        <div class="panel-heading">
             Data Input
        </div>
            <div class="panel-body">
                <div ng-repeat="x in content">
        <table class="table table-striped table-hover">
                <tr>
                <td>Email</td>
                <td>{{x.email}}</td>
                </tr>
                <tr>
                <td>Contact</td>
                <td>{{x.contact}}</td>
                </tr>
        </table>
                </div>
                
                      
            </div>
        </div>
       
            </div>
        
    </div>
    </div>