<h1>Welcome to the Home File</h1>



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">

            <div class="panel panel-heading">Home Page</div>

            <div class="panel-body">
                <span>First Number</span>
                <input type="number" ng-model="firstNum" placeholder="Enter first Number">
                <hr>
                <span>Second Number</span>
                <input type="number" ng-model="secondNum" placeholder="Enter Second Number">  

                <hr>

                Addition is: 
                {{firstNum+secondNum}}
            </div>

        </div>
    </div>
    
    



</div>