<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">

            <div class="panel panel-heading">Subtraction</div>

            <div class="panel-body" style="background-color: aquamarine">
                <span>First Number</span>
                <input type="number" ng-model="firstNum" placeholder="Enter first Number">
                <hr>
                <span>Second Number</span>
                <input type="number" ng-model="secondNum" placeholder="Enter Second Number">  

                <hr>

                Addition is: 
                {{firstNum-secondNum}}
            </div>

        </div>
    </div>
    